@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

$Cyan: hsl(179, 62%, 43%);
$Lighter-Cyan: #4abebd;
$Bright-Yellow: hsl(71, 73%, 54%);
$Light-Gray: hsl(204, 43%, 93%);
$Grayish-Blue: hsl(218, 22%, 67%);

html, body{
    width: 100%;
    height: 100%;

    main{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-color: $Light-Gray;

        .card{
            display: flex;
            flex-direction: column;
            width: 700px;
            height: 550px;
            font-size: 16px;
            font-family: 'Karla';
            border-radius: 10px;
            overflow: hidden;


            .upper-section{
                background-color: white;
                padding: 40px 35px 35px 35px;
                height: 45%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                h1{
                    color: $Cyan;
                    font-weight: 700;
                    font-size: 26px;
                }

                h2 {
                    color: $Bright-Yellow;
                    font-size: 22px;
                    font-weight: 700;
                }

                p{
                    color: $Grayish-Blue;
                    font-weight: 400;
                }
            }

            .lower-section{
                display: flex;
                flex-direction: row;
                height: 55%;

                .left-section{
                    width: 50%;
                    background-color: $Cyan;
                    padding: 45px 0px 0px 45px;

                    h2{
                        color: white;
                        font-weight: 700;
                        font-size: 20px;
                        padding-bottom: 15px;
                    }

                    p{
                        color: $Light-Gray;
                    }

                    .price{
                        line-height: 1;

                        .number{
                            color: white;
                            font-size: 30px;
                            font-weight: 700;
                        }
                    }

                    .price-description{
                        padding-bottom: 15px;
                    }

                    

                    button{
                        background-color: $Bright-Yellow;
                        color: white;
                        border: none;
                        width: 80%;
                        height: 50px;
                        border-radius: 5px;

                        &:hover{
                            background-color: hsl(71, 82%, 69%);
                        }
                    }
                }

                .right-section{
                    width: 50%;
                    background-color: $Lighter-Cyan;
                    padding: 45px 0px 0px 45px;

                    h2{
                        color: white;
                        font-weight: 700;
                        font-size: 20px;
                        padding-bottom: 10px;
                    }

                    p{
                        color: $Light-Gray;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    @media (max-width: 800px) {
        main{
            height: fit-content;

            .card{
                width: 350px;
                height: 900px;
                margin: 40px 0px 40px 0px;

                .upper-section{
                    height: 33%;

                    h1{
                        font-size: 22px;
                        padding-bottom: 10px;
                    }

                    h2{
                        font-size: 18px;
                        padding-bottom: 10px;
                    }
                }

                .lower-section{
                    flex-direction: column;
                    height: 67%;

                    .left-section{
                        width: 100%;
                        height: 50%;
                    }

                    .right-section{
                        width: 100%;
                        height: 50%;
                    }
                }
            }
        }
    }
}